<%= erb :'partials/forms', :layout=> false %>
<form class="" action="/ <%= @song.id%>" method="song">
  <input type="submit" name="_method" value="delete">
    <input type="submit" name="" value="delete">
</form>
